body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

a {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 705px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto; /* Center the button */
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px auto;
    width: 50%;
}

.editAndDelete {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 15px;
}

.editAndDelete a {
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
}

.editAndDelete a:hover {
    text-decoration: underline;
}
